<template>
    <div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"></h1>
          <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          <router-link to="/admin/products/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-chevron-right fa-sm text-white-50"></i> Create Product</router-link>
      </div>
      <div class="card p-lg-3 shadow rounded">
        <h2 class="text-center">Products List</h2>
 
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Detail</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in products" :key="product.id">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.detail }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'edit', params: { id: product.id }}" class="btn btn-success">Edit</router-link>
                        <button class="btn btn-danger" @click="deleteProduct(product.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                products: []
            }
        },
        created() {
            this.axios
                .get('http://localhost:8000/api/products/')
                .then(response => {
                    this.products = response.data;
                });
        },
        methods: {
            deleteProduct(id) {
                this.$swal({
                    title: 'Are you sure?',
                    text: "This Data Will Not Be Saved!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then(a => {
                    if (a.isConfirmed) {
                        this.axios
                            .delete(`http://localhost:8000/api/products/${id}`)
                            .then(() => {
                                this.axios
                                    .get('http://localhost:8000/api/products/')
                                    .then(response => {
                                        this.products = response.data;
                                    });
                            });
                    }
                }) 
            }
        }
    }
</script>

<style scoped>
@import "./../../css/sb-admin-2.min.css";
@import "./../../css/fontawesome-free/css/all.min.css";
</style>