<template>
    <div>
      <component v-bind:is="layout"></component>
    </div>
</template>
 
<script>
import AdminLayout from './AdminLayout'
import Home from './Home'

export default {
  computed: {
    layout () {
      return this.$store.getters.layout
    }
  },
  components: {
    'admin-layout': AdminLayout,
    'home': Home
    // define as many layouts you want for the application
  },
  created () {
    let name = this.$route.name
    if(name === 'index'){
      this.$store.commit('SET_LAYOUT', 'home')
    } else {
      this.$store.commit('SET_LAYOUT', 'admin-layout')
    }
  }
}

</script>