<template>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Create Products</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form @submit.prevent="addProduct">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" v-model="product.name">
                        </div>
                        <div class="form-group">
                            <label>Detail</label>
                            <input type="text" class="form-control" v-model="product.detail">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-danger" to="/admin/products/create" @click="redirectBack">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                product: {}
            }
        },
        methods: {
            addProduct() {
                this.axios
                    .post('http://localhost:8000/api/products', this.product)
                    .then(() => {
                        this.$swal({
                            title: 'Data Saved!',
                            text: 'Your Data had been saved.',
                            icon: 'success'
                        })
                        this.$router.push({ name: 'home' })
                    })
                    .catch(err => console.log(err))
                    .finally(() => this.loading = false)
            },
            redirectBack() {
                this.$swal({
                    title: 'Are you sure?',
                    text: "This Data Will Not Be Saved!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then(a => {
                    if (a.isConfirmed) {
                        this.$router.push({ name: 'home' })
                    }
                })
            }
        }
    }
</script>
<style scoped>
@import "./../../css/sb-admin-2.min.css";
@import "./../../css/fontawesome-free/css/all.min.css";
</style>