<template>
  <div>
    <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <router-link class="nav-link" to="/admin/products">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span @click="setTitle('Products')">Products</span></router-link>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            
        </ul>
        <!-- End of Sidebar -->
  </div>
</template>
<script>
export default {
  methods: {
    setTitle(val) {
      this.$store.commit('SET_TITLE', val)
    }
  }
}
</script>
<style scoped>
@import "./../../css/sb-admin-2.min.css";
@import "./../../css/fontawesome-free/css/all.min.css";
</style>